.subtask-item  
  display: flex 
  justify-content: space-between 
  align-items: center 
  padding: 10px 
  border-bottom: 1px solid #e6e9ef 
 

.subtask-content  
  display: flex 
  align-items: center 
  gap: 10px 
 

.subtask-checkbox  
  cursor: pointer 
 

.subtask-title  
  font-size: 1rem 
  color: #333 
  cursor: pointer 
  margin: 15.6px 18px 
 

.subtask-completed  
  text-decoration: line-through 
  color: #999 
 

.subtask-actions  
  display: flex 
  gap: 20px 
 

.new-subtask  
    padding-left: 23px 
 

.icon
    cursor: pointer 
    transition: transform 0.2s ease-in-out 
 
 