.accordeon
    position: absolute
    background: white
    width: 100%

.input__group--priority
    display: flex
    justify-content: space-around
    margin-top: 0.5rem
    font-weight: 600
    &--btn 
        padding: 5px 10px
        font-size: 20px
        border-radius: 8px
        cursor: pointer

.low
    background: #01c973 
.medium
    background: #f9cc3c
.high
    background: #f24d33

.end_date
    margin-bottom: 1rem