.modal__container
    &--tags
        margin: 10px 0 20px 0
        &--tag
            padding: 10px 20px  
            background: #777777
            border-radius: 20px
            color: #fff
            cursor: pointer
    &--info
        margin-bottom: 20px

.subtasks-list 
  list-style: none
  padding: 0
  margin: 0
.new-subtask
    padding-left: 20px