@import './base.css';

@import './pages/categoriesPage.sass';
@import './pages/calendarPage.sass'; 

@import './modal/modalWindow.sass';
@import './modal/addProjectToCategory.sass';
@import './modal/addCategory.sass';
@import './modal/categorySettings.sass';
@import './modal/projectSettings.sass';
@import './modal/addCategory.sass';
@import './modal/createTask.sass';

@import './components/taskCard.sass';
@import './components/projectCard.sass';
@import './components/header.sass';


@import './components/buttonComponent.sass';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    -webkit-user-select: none; 
    -moz-user-select: none;   
    -ms-user-select: none;    
    user-select: none; 
    font-family: 'Segoe UI', Arial, sans-serif ;
}
